*.pyc
sim
csrc
*.sublime-*
ucli.key
vc_hdrs.h
novas.*
novas_dump.log
verdiLog
*~
*.*~
dvtools/uvm_tutorial/v1.0/._TXT.rtfd
dvtools/uvm_tutorial/v1.0/TXT.rtfd
verif/alutb/DVEfiles
dvtools/uvm_tutorial/*.pyc
verif/frm/DVEfiles